{% extends '../base.html' %}
{% load static %}
{% load filter %}
{% block title %}Order history{% endblock %}
{% block content %}
    <div>
        <div class="text-center">
            <h1 class="text-center my_title">Order History</h1>
            {% if order_details %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Order Date</th>
                            <th>Total Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in order_details %}
                            <tr>
                                <td>{{ order|mongo_id }}</td>
                                <td>{{ order.created|date:"d M Y" }}</td>
                                <td>${{ order.total }}</td>
                                <td>
                                    <a href="{% url 'get_order' order|mongo_id %}">View order</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>
                    You have not placed any orders yet.
                    <a href="{% url 'index' %}" class="btn btn-secondary">Continue shopping</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
